doctype html
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='shortcut icon',href='/images/Open-Book-icon.png')
    script(src='/jquery/dist/jquery.min.js')
    script(src='/underscore/underscore-min.js')
    script(src="https://cdn1.lncld.net/static/js/av-min-1.2.1.js")

  body.reader
    block content
    script(src='/javascripts//script.js')
