doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/jquery/dist/jquery.min.js')
    script(src='/underscore/underscore-min.js')

  body.reader
    block content
    script(src='/javascripts//script.js')
